@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/mixins.scss';

.accordion {
  width: 100%;
  position: sticky;
  top: 100px;

  &__tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: $background-secondary;
    overflow: hidden;
    border-bottom: 1px solid $borderColor-primary;
    padding: 8px 0;
    & > input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    & > input:checked ~ .accordion__tab_content {
      max-height: 100vh;
    }

    & > input:checked ~ .accordion__tab_case {
      max-height: 100vh;
    }

    & > input[type='checkbox'] + label::after {
      content: '+';
      position: absolute;
      right: 15px;
      transform: scale(1.75);
    }

    & > input[type='checkbox'] + label {
      color: $textColor-secondary;
    }

    & > input[type='checkbox']:checked + label {
      color: $background-secondary;
    }

    & > input[type='checkbox']:checked + label::after {
      content: '—';
      position: absolute;
      transform: scale(1);
    }

    & > label {
      font-family: 'Roboto Mono', sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 109%;
      text-transform: uppercase;
      display: flex;
      position: relative;
      cursor: pointer;
      background: $background-primary;
      color: $background-secondary;
    }

    &_content {
      max-height: 0;
      overflow: hidden;
      background: $background-primary;
      -webkit-transition: max-height 0.5s;
      -o-transition: max-height 0.5s;
      transition: max-height 0.5s;

      & > p {
        margin: 10px 200px 10px 166px;
        font-size: 13px;

        @media (max-width: 767px) {
          margin: 10px 25px 10px 15px;
        }
      }
    }

    &_case {
      font-weight: 400;
      font-size: 12px;
      line-height: 142%;
      letter-spacing: -0.01em;
      max-height: 0;
      overflow: hidden;
      background: #ffffff;
      -webkit-transition: max-height 0.2s;
      -o-transition: max-height 0.2s;
      transition: max-height 0.2s;
      & > span {
        display: block;
        color: $buttonColor-secondary;
        margin: 20px 0 0;
      }
      & > p {
        margin: 20px 0 13px;
      }
    }
  }
}

.number {
  width: 146px;

  @media (max-width: 767px) {
    display: none;
  }
}

.accordion__tab input .accordion__tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  // -webkit-transition: .5s;
  // -o-transition: .5s;
  // transition: .5s;
}
