@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.main {
  margin: 0 0 0 -20px;
}
.case {
  & > :nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 40px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  &__tittle {
    font-size: 25px;
    font-weight: 400;
    padding: 20px;
    @media (max-width: 479px) {
      font-size: 22px;
    }
    @media (max-width: 374px) {
      font-size: 18px;
    }
  }

  &__item {
    display: flex;
    gap: 160px;
    padding: 0 0 0 20px;

    @media (max-width: 1365px) {
      gap: 120px;
    }

    @media (max-width: 959px) {
      gap: 60px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
    }

    @media (max-width: 479px) {
    }

    &__accordion {
      width: 50%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    &__image {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;

      @media (max-width: 767px) {
        width: 100%;
      }

      & > div {
        opacity: 0;
        transform: translateY(40px);
        transition:
          opacity 0.6s ease-out,
          transform 0.6s ease-out;

        &.visible {
          opacity: 1;
          transform: translateY(0);
        }
      }

      & > div > img {
        width: 100%;
      }
    }
  }
}
