@mixin button {
  height: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  border-radius: 50px;
  padding: 7px 14px;

  position: relative;
  display: inline-block;
  overflow: hidden;

  &::before {
    content: attr(data-hover);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background-secondary;
    color: $background-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }

  &::after {
    content: attr(data-hover);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-tertiary;
    color: $background-secondary;
    transition: transform 0.2s ease 0.1s;
  }

  &:hover::before {
    top: 0;
    transition: transform 0.2s ease 0.1s;
    transform: translateY(100%);
  }

  &:hover::after {
    transform: translateY(100%);
  }
}

@mixin button_blue {
  @include button;

  color: $background-primary;
  background-color: $buttonColor-secondary;

  &::after {
    color: $background-primary;
    background-color: $buttonColor-secondary;
  }
}

@mixin button_grey {
  @include button;

  background-color: $background-tertiary;
  color: $background-secondary;
}
