$background-primary: #fff;
$background-secondary: #000;
$textColor-secondary: rgba(0, 0, 0, 0.478);
$textColor-tertiary: rgba(255, 255, 255, 0.48);
// $background-tertiary: #e8e8e8;
// $system-yellow: #ffbc0d;
// $system-orange: #ff4d00;
// $system-green: #bce41a;
// $system-blue: #2036fd;
// $system-black-100: #000;
// $system-white-100: #fff;
// $stroke-white-100: #fff;
// $stroke-white-9: rgba(255, 255, 255, 0.09);
// $stroke-black-100: #000;
// $stroke-black-9: rgba(0, 0, 0, 0.09);
