$background-primary: #fff;
$background-secondary: #000;
$background-tertiary: #e8e8e8;
$textColor-secondary: rgba(0, 0, 0, 0.48);
$textColor-tertiary: rgba(255, 255, 255, 0.48);
$borderColor-primary: rgba(0, 0, 0, 0.09);
$borderColor-secondary: rgba(255, 255, 255, 0.09);
$buttonColor-secondary: #2036fd;

$transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1.4);
