$background-primary: #fff;
$background-secondary: #000;
$background-tertiary: #e8e8e8;
$textColor-secondary: rgba(0, 0, 0, 0.48);
$textColor-tertiary: rgba(255, 255, 255, 0.48);
$borderColor-primary: rgba(0, 0, 0, 0.09);
$borderColor-secondary: rgba(255, 255, 255, 0.09);
// $system-yellow: #ffbc0d;
// $system-orange: #ff4d00;
// $system-green: #bce41a;
// $system-blue: #2036fd;
// $system-black-100: #000;
// $system-white-100: #fff;
// $stroke-white-100: #fff;
// $stroke-black-100: #000;
