@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.breadcrumbs {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 11px;
  line-height: 109%;

  & a {
    color: $background-secondary;
  }

  & span {
    color: $textColor-secondary;

    &::before {
      content: ' / ';
      color: $background-secondary;
    }
  }
}
