@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.service {
  &__title {
    font-size: 62px;
    margin: 20px 0 60px 0;

    @media (max-width: 1919px) {
      font-size: 50px;
    }

    @media (max-width: 375px) {
      font-size: 36px;
    }
  }

  &__wrapp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(614px, 1fr));
    gap: 60px 10px;
    margin: 40px 0 0;

    @media (max-width: 1919px) {
      grid-template-columns: repeat(3, minmax(429px, 1fr));
    }

    @media (max-width: 1365px) {
      grid-template-columns: repeat(2, minmax(455px, 1fr));
      gap: 40px 10px;
    }

    @media (max-width: 959px) {
      grid-template-columns: repeat(2, minmax(359px, 1fr));
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(1, minmax(440px, 1fr));
      gap: 20px;
    }

    @media (max-width: 479px) {
      grid-template-columns: repeat(1, minmax(335px, 1fr));
    }
  }
  &__container {
    min-height: 614px;
    padding: 30px;
    position: relative;
    background-repeat: no-repeat;
    inset: 0;
    background-size: cover;
    @media (max-width: 1365px) {
      min-height: 614px;
    }

    @media (max-width: 959px) {
      min-height: 614px;
    }

    @media (max-width: 479px) {
      min-height: 614px;
    }

    @media (max-width: 375px) {
      min-height: 614px;
    }

    & > li > a {
      font-size: 22px;
      color: #000;

      @media (max-width: 1365px) {
        font-size: 18px;
      }
    }
  }
  &__shield {
    background-image: url(../../../assets/img/service-page/easy_shield.svg);
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
  }
}
