@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/mixins.scss';

.arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;

  position: relative;
  display: inline-block;
  overflow: hidden;

  & svg {
    width: inherit;
    height: inherit;
  }

  & rect {
    width: inherit;
    height: inherit;
    fill: $background-primary;
  }

  &_default {
    fill: $background-secondary;
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1.4);
  }

  &_hover {
    fill: $textColor-secondary;
    transform: translateY(100%);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1.4);
  }
}
