@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(146px, 1fr));
  gap: 5px 10px;
  margin-top: 60px;

  @media (max-width: 1919px) {
    grid-template-columns: repeat(4, minmax(154px, 1fr));
    gap: 10px;
  }

  @media (max-width: 1365px) {
    grid-template-columns: repeat(4, minmax(145px, 1fr));
  }

  @media (max-width: 959px) {
    grid-template-columns: repeat(4, minmax(174px, 1fr));
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(3, minmax(140px, 1fr));
  }

  @media (max-width: 479px) {
    grid-template-columns: repeat(3, minmax(105px, 1fr));
  }
}

.box {
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  padding: 15px;
  cursor: pointer;
  border: 1px solid $borderColor-primary;

  & img {
    width: 34px;
    height: 12px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;

    @media (max-width: 1919px) {
      width: 37px;
      height: 13px;
    }

    @media (max-width: 1365px) {
      width: 35px;
    }

    @media (max-width: 959px) {
      width: 42px;
      height: 15px;
    }

    @media (max-width: 767px) {
      width: 34px;
      height: 12px;
    }

    @media (max-width: 479px) {
      width: 25px;
      height: 9px;
    }
  }

  & div {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 109%;
    text-transform: uppercase;
    position: absolute;
    top: -100%;
    transition: all 0.3s ease-in-out;
    color: $background-secondary;
  }

  &:hover {
    img {
      top: 200%;
    }

    div {
      top: 15px;
    }
  }
}
