@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.logo {
  width: 104px;
  height: 16px;

  & path {
    fill: $background-secondary;
  }

  @media (max-width: 1919px) {
    width: 84px;
    height: 12px;
  }

  @media (max-width: 767px) {
    width: 70px;
    height: 10px;
  }

  &_promo {
    & path {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    & path.visible {
      opacity: 1;
    }
  }
}

.logo_hover {
  &:hover {
    & path {
      fill: $textColor-secondary;
    }
  }
}
